{
    "arkk":"https://ark-funds.com/wp-content/uploads/funds-etf-csv/ARK_INNOVATION_ETF_ARKK_HOLDINGS.csv",
    "arkq":"https://ark-funds.com/wp-content/uploads/funds-etf-csv/ARK_INNOVATION_ETF_ARKQ_HOLDINGS.csv",
    "arkw":"https://ark-funds.com/wp-content/uploads/funds-etf-csv/ARK_INNOVATION_ETF_ARKW_HOLDINGS.csv",
    "arkg":"https://ark-funds.com/wp-content/uploads/funds-etf-csv/ARK_INNOVATION_ETF_ARKG_HOLDINGS.csv",
    "arkf":"https://ark-funds.com/wp-content/uploads/funds-etf-csv/ARK_INNOVATION_ETF_ARKF_HOLDINGS.csv",
    "arkx":"https://ark-funds.com/wp-content/uploads/funds-etf-csv/ARK_INNOVATION_ETF_ARKX_HOLDINGS.csv"
},
{
    "arkq":"action=generate_fund_holdings_pdf&pid=1305",
    "arkw":"action=generate_fund_holdings_pdf&pid=1565",
    "arkk":"action=generate_fund_holdings_pdf&pid=1287",
    "arkg":"action=generate_fund_holdings_pdf&pid=1567",
    "arkf":"action=generate_fund_holdings_pdf&pid=1569",
    "arkx":"action=generate_fund_holdings_pdf&pid=1571"
}